<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="20.1.0" targetFramework="net472" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="IdentityFramework.Core" version="2.3.1" targetFramework="net472" />
  <package id="IdentityFramework.EntityFramework" version="2.3.1" targetFramework="net472" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.4" targetFramework="net472" />
</packages>